$style:"about-us";

.#{$style} {
   
   // height: 100vh;

    background: #00c4c4 url("../img/aboutus-bg.png") no-repeat center left 90px  ;
    position: relative;
    z-index:0;

    @include media($screen-hd){
        background: #00c4c4 url("../img/aboutus-bg.png") no-repeat center left 70px / 600px ;
    }
    @include media($screen-desktop-large){
        background: #00c4c4 url("../img/aboutus-bg.png") no-repeat center left  / 550px ;
    }

    @include media(1150px){
        background: #00c4c4 url("../img/aboutus-bg.png") no-repeat center left  / 520px ;
    }
    @include media(1080px){
        background: #00c4c4 url("../img/aboutus-bg.png") no-repeat center left  / 500px ;
    }

    @include media($screen-desktop){ //1024
        background: #00c4c4 url("../img/aboutus-bg.png") no-repeat center left  / 450px ;
    }

    @include media(970px){ 
        background: #00c4c4 url("../img/aboutus-bg.png") no-repeat center left  -160px  / 500px ;
    }

    @include media($screen-tablet-large){ //860
        background: #00c4c4 url("../img/aboutus-bg.png") no-repeat center left  -160px  / 450px ;
    }

    @include media(820px){ //820
        background: #00c4c4 url("../img/aboutus-bg.png") no-repeat center left  -160px  / 420px ;
    }

    @include media(790px){ //790
        background: #00c4c4 url("../img/aboutus-bg.png") no-repeat center left  -190px  / 420px ;
    }

    @include media(750px){ //740
        background: #00c4c4 url("../img/aboutus-bg.png") no-repeat top -80px left  -170px  / 400px ;
    }

    @include media(699px){ //596
        background: #00c4c4  ;
      }
    

    &__container {
        
        display: flex;
         flex-direction: column;
         align-items: flex-end;
         justify-content: center;

         min-height: 700px;
         position: relative;
        

        @include media(820px){ //820
            min-height: 600px;
        }

        @include media(750px){ //750
            min-height: 500px;

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

    }  
    


    &__title {
        @include text(90px, 700, $white);
        font-style: normal;
        
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 34px;

        @include media(1040px){
            @include text(80px, 700, $white);
        }

        @include media($screen-desktop){ //1024
            @include text(75px, 700, $white);
        }

        @include media(930px){ 
            @include text(60px, 700, $white);
            
        }

        @include media(820px){ 
            @include text(50px, 700, $white);
          
        }

        @include media(750px){ 
            text-align: center;
        }


    }

    &__text {
        @include text(17px, 300, $white);
        font-style: normal;
        line-height: 1.59;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 20px;
        max-width: 499px;

        &:last-child {
            margin-bottom: 0;
        }

        @include media(820px){ 
            @include text(15px, 300, $white);
        }

        @include media(750px){ 
            text-align: center;
        }
    }
}