$style: "contact";

.#{$style} {

    background-color: $white;
    min-height: 866px;
    position: relative;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: url("../img/contact-bg.png") no-repeat center;
        background-size: cover;
        z-index: 0;
      }

      &__container {
        @include flex(center,center,column);
        text-align: center;
        min-height: 866px;
        padding-bottom: 20px;
        padding-top: 20px;
    }

    &__title {
        @include text(90px,700,#262626);
        
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        margin-bottom: 48px;
        
        @include media(1120px){
            @include text(80px, 700, #262626);
        }

        @include media($screen-desktop){ //1024
            @include text(70px, 700, #262626);
        }

        @include media(960px){ 
            text-align: center;
        }
        
        @include media(820px){ 
            @include text(50px, 700, #262626);
          
        }
    }

    &__text {
        @include text(17px,400,#262626);
        max-width: 346px;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.47;
        letter-spacing: normal;
        margin-bottom: 46px;

    }

    &__cols{
        display: flex;
        justify-content: space-between;
        width: 100%;
        flex-wrap: wrap;
    }

    &__col {
        width: 49%;

        &--right {
            padding-left: 100px;
        }

        &--left {

        }

        @include media(1035px){ 
            &--right {
                padding-left: 0px;
                display: flex;
                flex-direction: column;
                align-items: center;
            }
        }

        @include media(790px){ 
            
           width: 100%;
           &--left {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 30px;
        }
        
    }
    }
    &__form {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        //background-color: red;
    }

    &__input {
        min-height: 50px;
        width: 500px;
        //width: 100%;
        background-color:rgba(#00c4c4,0.5);
        margin-bottom: 15px;
        padding-left: 15px;


        @include text(15px,700, $white);
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: left;
        position: relative;
        font-family: $main-font;
        border-left: 5px solid rgba( #00c4c4, 0); 


        &:hover {
            border-left: 5px solid rgba( #355b82, 1); 
            @include transition();
            background-color:rgba(#00c4c4,1);

        }

        &::-webkit-input-placeholder { /* WebKit browsers */
            @include text(15px,300, $white);
        }

        @include media(530px){ 
            
            width: 300px;
        
        }
        
    }

    

    &__textarea {
        width: 500px;
        height: 250px;
        background-color:rgba(#00c4c4,0.5);
        @include text(15px,700, $white);
        padding-left: 15px;
        padding-top: 20px;
        font-family: $main-font;
        border-left: 5px solid rgba( #00c4c4, 0); 
        resize: none;
        margin-bottom: 10px;

        &:hover {
            border-left: 5px solid rgba( #355b82, 1); 
            @include transition();
            background-color:rgba(#00c4c4,1);
        }

        &::-webkit-input-placeholder { /* WebKit browsers */
            @include text(15px,300, $white);
        }

        @include media(530px){ 
            
            width: 300px;
        
    }
    }

    &__button{
        width: 500px;
        cursor: pointer;
        box-shadow: none;
        border:none;
        background-color:rgba(#00c4c4,0.5);

        &:focus {
            outline:none;
        }
        &:hover {
            background-color: rgba(#00c4c4,1);
            transition: all .3s ease-in;
        }

        &:active {
            background-color: rgba(#ffbe33,1);
            transition: all .1s ease-in;
        }

        @include media(530px){ 
            
            width: 300px;
        
    }

    }

    &__contacts {
       // background-color: green;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;

        @include media(1035px){ 
            
                display: flex;
                flex-direction: column;
                align-items: center;
            
        }

        @include media(860px){ 
            
            display: flex;
            flex-direction: column;
            align-items: flex-end;
        
    }
        @include media(790px){ 
                
            display: flex;
            flex-direction: column;
            align-items: center;
        
         }
    }

    &__list-contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        @include media(790px){ 
                
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;

        
         }

         @include media(600px){ 
                
            display: flex;
            flex-direction: column;
            align-items: center;
        
         }
    }

    &__list-item {
        margin-bottom: 20px;
        @include text(15px,500, #262626);
        .strong {
            @include text(17px,700, #262626);
        }
        &:last-child{
            margin-bottom: 0;
        }

        @include media(790px){ 
                
            @include text(15px,500, $white);
            .strong {
                @include text(17px,700, $white);
            }

            margin-bottom: 0;
            margin-right: 40px;
            &:last-child{
                margin-right: 0;
            }

        }

        @include media(600px){ 
                
            display: flex;
            flex-direction: column;
            align-items: center;
            margin-bottom: 20px;
            margin-right: 0;
            &:last-child{
                margin-bottom: 0;
            }
         }
    }

    &__link {
        display: block;
        @include text(15px,400, #262626);
        @include media(790px){ 
            @include text(15px,400, $white);
            
        }
    }
}