$style:"header";

.#{$style} {
    background-color: $white;
    height: 100vh;
    position: relative;
    z-index: 1;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;
        background: url("../img/header-bg.png") no-repeat center;
        background-size: cover;
        z-index: 0;
      }

      &__navigation {
        display: flex;
        position: absolute;
        top: 0;
        min-height: 120px;
        width: 100%;
        z-index: 10;
      }

      &__nav-container {
        display: flex;
        justify-content: space-between;
        align-items:center;
        
      }

      &__logo {
        display: inline-block;

        @include text(50px,400,#262626);

        font-family: $logo-font;
        
        font-stretch: normal;
        font-style: normal;
        letter-spacing: normal;
        text-align: right;
        
      }

      &__menu {
        display: flex;
        justify-content: space-between;
        position: relative;
      }

      &__menu-item {
        margin-right: 40px;
        padding-top: 10px;
        position: relative;

        &:last-child {
          margin-right: 0;
        }

        &::before {

          position: absolute;
          content:" ";
          display: inline-block;
          width: 50px;
          height: 3px;
          background-color: rgba(red,0);
          top: 0 ;
          left: 50%;
          transform: translateX(-50%);
          
        }

        &:hover{
          //@include transition();
           &::before {
          background-color: rgba(red,1);
          transition: all 0.5s ease-out;
           }
        }
      }

      &__menu-link {
        font-family: Raleway;

        @include text(16px,700,#262626);
        font-stretch: normal;
        font-style: normal;
        line-height: 1.56;
        letter-spacing: normal;
        text-align: right;

        position: relative;

       
      }

      &__container {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         justify-content: center;
  
         min-height: 100vh;
      }

      &__content {
        position: relative;
       
      }  

      &__title {
        @include text(60px,900,#262626);
        font-stretch: normal;
        font-style: normal;
        
        letter-spacing: normal;
        margin-bottom: 34px;
        text-align: left;
      }

      &__text {
        @include text(17px,300,#262626);
        font-style: normal;
        line-height: 1.59;
        letter-spacing: normal;
        max-width: 370px;
        margin-bottom: 31px;
      }

      &__scroll {

        position: absolute;
        bottom: 68px;
        left: 50%;
        display: inline-block;
       
        cursor: pointer;
        
        .scroll{
         // width:100%;
         // height:100%;
          path{
            fill:#262626;
          }
        
        }
        .scroll:hover {
          path{
            fill:#ee855f;
          }
        }
      }
}