$style:"our-services";

.#{$style} {
   
    height: 100vh;

    background-color: #70bfff;

    &__container {
        background: url("../img/services-bg.png") no-repeat center right /462px ;
        padding: 70px 0;
        display: flex;
         flex-direction: column;
         align-items: flex-end;
         justify-content: center;

         min-height: 700px;
         //height: 100vh;
    }  
    


    &__title {
        @include text(90px, 700, $white);
        font-style: normal;
        line-height: 0.3;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 34px;
    }

    &__text {
        @include text(17px, 300, $white);
        font-style: normal;
        line-height: 1.59;
        letter-spacing: normal;
        text-align: left;
        margin-bottom: 10px;
        max-width: 499px;

        &:last-child {
            margin-bottom: 0;
        }
    }
}