* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-size: 20px;

  background-color: black;
  color: white;
}

ul,li,p{
  margin: 0;
  padding: 0;
  list-style: none;
}

header, main, footer{
  text-align: center;
}

header {
  padding-top: 60px;
  margin-bottom: 50px;
}

main {
  margin-bottom: 70px;
}

h1 {
color: white;
font-weight: 400;
letter-spacing: 2px;
font-size: 20px;
text-transform: uppercase;
margin-bottom: 15px;
}

.social-media{
  position: relative;
  padding-top: 20px ;
  max-width: 230px;
  width: 100%;
  margin: 0 auto;
}

.social-media::before {
  content:'';
  height: 2px;
  max-width: 230px;
  width: 100%;
  background-color:white;
  position: absolute;
  left: 0;
  top: 0;
}

li {
  display: inline-block;
  margin-right: 30px;
}

li:last-child {
  margin-right: 0px;
}

footer .kasper {
  color: #19c8fa;
}