@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

//colors
$title-color: #3c3c3c;
$bg-sicial: #00aed9;
$decor-color: #dddbdb;
$name-color:#282528;
$position-c:#646464;
$bg-link-c: #ffffff;
$bg-active-c: #dd9309;

//size


//font

