$style:"our-works";

.#{$style} {

    &__list {
        display:flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__item {
        width: 30%;
        position: relative;

        &--large {
            width: 39%;
        }
        margin-bottom: 8px;

        &:nth-last-of-type(-n+3) {
            margin-bottom: 0;
        }
    }

    &__wrap-img {
       background-color:#A9B4C9;
       min-height: 100%;
        @include padding-hack(43%,  cover);

        &--large {
            @include padding-hack(30%,  cover);
        }
    }

    &__wrap-text{
    position: absolute;
    @include position();

    display: flex; 
    align-items: flex-end;
    cursor: pointer;
    
    &:hover {
         background-color:rgba($white, 0.3);
         transition: all .3s ease-in;
        }

    }

    &__wrap-text{
        @include text( 34px,700,$white);
        text-transform: uppercase;
        letter-spacing: 5px;
        padding-left: 47px;
        padding-bottom: 40px;

        &:hover {
            color:rgb(117, 117, 117);
            transition: all .3s ease-in;
       }
        }
}

