@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

//colors
$main-bg-color:#E5EEEE;
$form-bg-color:#9359CB;
$btn-color:#23ae92;
$text-color:#fbf6e4;
$bottom-links-color:#B9B9CC;
$input-color:#AB8DCC;
$active-link-color:#e66a64;

//FONT SIZE
$top-links-size: 18px;
$title-size: 16px;
$check-text-size:13px;
$btn-text: 18px;
$bottom-links-size: 13px;


//fonts

$font-main: 'Quicksand', sans-serif;