


//color

$white: #ffffff;
$black: #000000;
//#ffe92f
//#b07cf7
//#70bfff
//#00c4c4
//#00b7b7
//#00adad
//#009c9c
//#262626
//#fbfbf7

//#f72b3b
//#ff6033
//#5585a2
//#96b92c
//#b9b9b9
//#ff2b58
//rgba(38, 38, 38, 0.5)
//#355b82
//#9d9d9d




//fonts

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$main-font: 'Raleway', sans-serif;
$logo-font: 'Pacifico', cursive;
