


//color

$white: #ffffff;
$black: #000000;

$N190: #ffe92f;
$N180:#b07cf7;
$N170:#70bfff;
$N160:#00c4c4;
$N150:#00b7b7;
$N140:#00adad;
$N130:#009c9c;
$N120:#262626;
$N110:#fbfbf7;

$N90:#f72b3b;
$N80:#ff6033;
$N70:#5585a2;
$N60:#96b92c;
$N50:#b9b9b9;
$N40:#ff2b58;
$N30:rgba(38, 38, 38, 0.5);
$N20:#355b82;
$N10:#9d9d9d;




//fonts

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$main-font: 'Raleway', sans-serif;
$logo-font: 'Pacifico', cursive;
