@font-face {
  font-family: "HansKendrick";
  src: url("../assets/fonts/HansKendrick-Regular.otf") format("truetype");
}

//colors
$bg-body: #E2E7EC;
$card-color:#FFFFFF;
$data-color:#818181;
$title-sec-color:#1D1D1D;
$title-color:#FFFFFF;

// Font-sizes
$title-size: 30px;
$title-sec-size: 22px;
$data-size: 13px;

//Fonts
$title-font: "HansKendrick";

