
.cards {

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 1200px;
  width: 100%;
  min-height: 600px;
 
  &__list {
    list-style: none;

    display: flex;
    justify-content: space-between;
    align-self: center;
    padding: 0;
  
    align-items: center;
    max-width: 1140px;
    width: 100%;
  }
  &__list__item {
    max-width: 360px;
    width:100%;
    background-color: $bg-card;
    border-radius: 1%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 42px 0 35px;
    min-height: 440px;
    cursor: pointer;

    &:hover{
      min-height: 500px;
      padding: 53px 0 53px;
      transition: all .1s easy-in;
      
    }
  }

  &__list__item__maney{
    color: $money-color;
    font-family: $money-font;
    font-size: $money-size;
    font-weight: 700;
    display: block;
    
    line-height:52px;
    
  }

  &__list__item__images {
    width:156px;
    height: 146px;

    padding-top: 57px;
    padding-left: 18px;
    
    position: relative;

    .img {
      width:100%;
      //height: 77px;

    }
    
    &::before {
      content: url("../img/smoke_orange.svg");
      position: absolute;
      display: inline-block;
      width: 49px;
      height: 49px;
      top: 0px;
      left: 51px;
    }

    &-second::before {
      content: url("../img/smoke_yellow.svg");
    }

    &-third::before {
      content: url("../img/smoke_grey.svg");
    }

    &::after {
      content: url("../img/bean.svg");
      opacity: 0.1;
      position: absolute;
      display: inline-block;
      width: 49px;
      height: 49px;
      bottom: 25px;
      left: 60px;
      }
    }

  &__list__item__text {
    text-align: center;
    max-width: 156px;
    width: 100%;
    min-height: 115px;

    color: $text-color;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
  }

  &__list__item__title {
    font-size: $title-size;
    font-family:'Miso', sans-serif;
    font-weight: 500;
    
    line-height: 36px;
    letter-spacing: -1px;
    text-align: center;
  
  }

  &__list__item__descr {
    font-size: $text-size;
    font-family: $text-font;
    font-weight: 600;
    letter-spacing: 1px;
    line-height: 25px;
    

  }
}
