$style:"why-choose-us";

.#{$style} {

    background-color: grey;

    position: relative;
    z-index: 1;
    
    &:before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      display: block;
      background: url("../img/why-choose-us-bg.png") no-repeat center;
      background-size: cover;
      z-index: 0;
    }
   
    &__container {
      min-height: 700px;
      padding: 0px 15px;
      @include flex(center,center);

      @include media(960px){
        padding: 30px 15px;
        min-height: 0px;
      }

    }

    &__cols {
      display: flex;
      flex-direction: row;

      @include media(768px){
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
       }
    }

    &__col {
      width: 50%;
      &--left {
          padding: 60px 50px 0px 0px;
      }

      &--right {
        padding-left: 90px;
      }

      @include media(960px){
        &--left {
          padding: 60px 0px 0px 0px;
        }

        &--right {
          padding-left: 30px;
        }
      }

      @include media(768px){
        width: 100%;
        &--left {
          padding: 0px 0px 0px 0px;
      }

        &--right {
          padding-left: 0px;
          padding-top: 30px;
        }
      }
    }

    &__wrapper-images {
      display: flex;
      flex-direction: column;
    }

    &__wrapper-image-row {
      display: flex;
      justify-content: flex-start;

      &--down {
        justify-content: flex-end;
      }
    }
       
    &__image {
      max-width: 350px;
      width: 100%;
      @include padding-hack(45%,cover);
      margin-bottom: 10px;
    }

    &__title {
      @include text(30px,900,#ffffff);
      text-transform: uppercase;
      margin-bottom: 34px;
      text-align: left;
      @include media(768px){
        text-align: center;
       }
    }

    &__wrap-text{
      margin-bottom: 48px;
    }

    &__text{
      @include text(17px,300,#ffffff);
      line-height: 1.59;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0px;
      }
    }
}