*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size:100%;
    min-height: 100vh;
    font-family: $josefin;
}

.container {
    padding: 0px 15px;   
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
        
}

ul {
    list-style: none;
}

a {
    text-decoration: none
}

.button {
    @include flex(center,center);
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    line-height: 1.63;
    letter-spacing: 1.2px;
    
    @include text(16px, 400, $white);
    max-width: 225px;
    width: 100%;
    min-height: 60px;
    
    background-color: $main-color;
    font-family: $aleo;
    padding: 0px 15px;

    @include media(768px){
        margin: 0 auto;
    }

    @include media(446px){
        max-width: 115px;
        width: 100%;
      
        @include text(12px, 400, $white);
      }
 

    &:hover {
        background-color: rgba(#496BFE,0.8);
        transition: all .3s ease-in;
    }

    &:active {
        background-color: rgba(#ffbe33,1);
        transition: all .1s ease-in;
    }

    
}

h6 {
    font-size: 0;
    position: absolute;
    top: 0;
    left: -999;
}
