// Colors
$white: #ffffff;
$black: #333333;
$grey: #666666;
$grey-middle:#898f8f;
$grey-light: #cccccc;
$yellow: #ffcc00;


// Font sizes


$title-size: 60px;
$subtitle-size: 18px;
$name-size: 36px;
$position-size: 24px;
$text-size: 14px;

// Font-family

@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&display=swap');

$main-font: 'Roboto', sans-serif;
$sec-font: 'Raleway', sans-serif;

