
@font-face {
  font-family: "MuseoSansRounded";
  src: url("../assets/fonts/MuseoSansRounded-100.ttf") format("truetype");
}

// Colors
$black: #000000;
$white:#ffffff;
$bg-color: #111A28;
$input-check:#7E838B;
$text-color: #E1E1E1;
$star-color:#F7BF16;


// Fonts
$base-font: 'MuseoSansRounded', serif;

