*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size:100%;
    min-height: 100vh;
    font-family: $main-font;
}

.container {
    //padding: 285px 0px 115px;   
        position: relative;
        z-index: 1;
        @include flex(flex-start, center, column);
        width: 100%;
        max-width: 902px;
        margin: 0 auto;
}

ul {
    list-style: none;
}

a {
    text-decoration: none
}
